services:
  init:
    image: busybox
    entrypoint: "sh -c"
    volumes:
      - .:/data 
    command:
      - |
        echo pre-deployment script
        cd /data
        echo "Do something with files" > pre-deploy.txt 
        sleep 10  # Wait a little so that the healthcheck can turn 'healthy' before exiting container
    healthcheck:
      test: ["CMD", "true"]
      interval: 1s
      retries: 1

  app:
    image: nginx
    depends_on:
      init:
        condition: service_healthy
