services:
  test:
    image: nginx
    restart: unless-stopped
    deploy:
      mode: replicated
      replicas: 1
      restart_policy:
        condition: any
    environment:
      TZ: Europe/Berlin
      SOME: Value
      id: dsdsd
      replica_slot: "{{.Task.Slot}}" 
      interpolate_test: $VAR_INTERPOLATE
    ports:
      - "80" # Allocate random port on host
    volumes:
      - test:/test
    configs:
      - test.txt
      - source: index.html
        target: /usr/share/nginx/html/index.html
    secrets:
      - secret.txt
    env_file:
      - .env
      - test.enc.env
    labels:
      this: "test"
    networks:
      test:
    healthcheck:
      interval: 30s
      timeout: 3s
      start_period: 10s
      retries: 3
      test: "curl 127.0.0.1:80"

volumes:
  test:

networks:
  test:

configs:
  test.txt:
    file: test.txt
  index.html:
    file: ./html/index.html

secrets:
  secret.txt:
    file: secret.txt
