services:
  init:
    image: busybox
    command: ["sh", "-c", "echo pre-deployment script; sleep 2"]
    healthcheck:
      test: ["CMD", "true"]
      interval: 1s
      retries: 1

  app:
    image: nginx
    depends_on:
      init:
        condition: service_healthy
