services:
  test:
    container_name: test
    image: nginx
    restart: unless-stopped
    environment:
      SUPER_SECRET: "passw0rd_${TEST_PASSWORD}"
      TZ: Europe/Berlin
      HELLO: World!
      Foo: bar
    labels:
      test1test1: inject.${TEST_PASSWORD}
      test2: ignore.$${TEST_PASSWORD}
      other: $OTHER_PASSWORD
      username: $USERNAME
      a: d
    env_file: ./foo.env
    #configs:
    #  - source: test.crt
    #    target: /test.crt

configs:
  test.crt:
    #environment: CERT
    content: $CERT
