x-common-env: &common-env
    MYVAR: foo

services:
  init:
    image: busybox
    environment:
      <<: *common-env
    volumes:
      - ./web:/web
    working_dir: /web
    command:
      - |
        sh -c "
        echo Starting pre-deployment script
        echo 'Hello $MYVAR' > /web/index.html
        echo Finished pre-deployment script
        "

  app:
    image: nginx
    environment:
      <<: *common-env
    volumes:
      - ./web:/usr/share/nginx/html:ro
    ports:
      - 8080:80
    depends_on:
      init:
        condition: service_completed_successfully # Wait for init container to complete/stop with exit code 0