services:
  init:
    image: busybox
    entrypoint: "sh -c" 
    volumes:
      - ./web:/web
    working_dir: /web
    command:
      - | # Run your pre-deployment script
        echo starting pre-deployment script
        echo "Hello World!" > /web/index.html
        echo finished pre-deployment script

  app:
    image: nginx
    volumes:
      - ./web:/usr/share/nginx/html:ro
    ports:
      - 80:80
    depends_on:
      init:
        condition: service_completed_successfully